/*
 *name:city
 * */

body
{
	color: #fff4e8;
	background-color:#44606E;
	font-family: Terminus;
}

h1
{
	color: #fff4e8;
	margin-left: 5px;
}

h2
{
	color: #2B3D46;
	font-size:18px;
	padding-left: 5px;
	margin-top: -10px;
	margin-bottom: -5px;
}



h2#huptime
{
	background-color: #91B0A0;
}

h2#hrest
{
	background-color: #F29377;
}

h2#hipconf
{
	background-color: #A29AB6;
}

h2#htemp
{
	background-color: #FFDFA4;
}

h2#hdisks
{
	background-color: #9ECED1;
}

a:hover
{
	color: #fff4e8;
}

li, a
{
	color: #F29377;
}

li.temp
{
	color: #FFDFA4;
}

li.ipconf
{
	color: #A29AB6;
}

li.uptime
{
	color: #91B0A0;
}

li.disks
{
	color: #9ECED1;
}

div.window
{
	background-color:#2B3D46;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 5px;
	margin-bottom: 20px;
	width: 450px;
	box-shadow: 4px 4px 8px #2d2d2d;
}

img
{
	height: 25px;
	width: 25px;
	padding-left: 290px;
	margin-bottom: -5px;
}
