/*
 * name:forest_low
 */
body
{
	color: #fff4e8;
	background-color:#545454;
	font-family: Terminus;
}

h1
{
	color: #fff4e8;
	margin-left: 5px;
}

h2
{
	color: #3F4040;
	font-size:18px;
	padding-left: 5px;
	margin-top: -10px;
	margin-bottom: -5px;
}



h2#huptime
{
	background-color: #9CA68B;
}

h2#hrest
{
	background-color: #A48484;
}

h2#hipconf
{
	background-color: #978B93;
}

h2#htemp
{
	background-color: #CABA9B;
}

h2#hdisks
{
	background-color: #789C9F;
}

a:hover
{
	color: #fff4e8;
}

li, a
{
	color: #A48484;
}

li.temp
{
	color: #CABA9B;
}

li.ipconf
{
	color: #978B93;
}

li.uptime
{
	color: #9CA68B;
}

li.disks
{
	color: #789C9F;
}

div.window
{
	background-color:#3F4040;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 5px;
	margin-bottom: 20px;
	width: 450px;
	box-shadow: 4px 4px 8px #2d2d2d;
}

img
{
	height: 25px;
	width: 25px;
	padding-left: 290px;
	margin-bottom: -5px;
}
