<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="en" />
<link rel="stylesheet" type="text/css" 
href="{{url_for('static', filename='style.css') }}">

</head>

<body>
	
	<h1>{{ config['common']['header'] }}</h1>
	
	{% if config['dht']['display'] %}
	<div class='window'>
		<h2 id='htemp'>DHT11 sensor</h2>
		<ul>
			<li class='temp'>Temperature: {{ temp }} °C</li>
			<li class='temp'>Humididty: {{ hum }} %</li> 
		</ul>
	</div>
	{% endif %}

	{% if config['uptime']['display'] %}
	<div class='window'>
		<h2 id='huptime'>Uptime</h2>
		<ul>
			<li class='uptime'>Date: {{ date }}</li>
			<li class='uptime'>Uptime: {{ uptime }} </li>
			<li class='uptime'>Load average: {{ loadavg }}</li>
		</ul>
	</div>
	{% endif %}

	{% if config['ifconfig']['display'] %}
	<div class='window'>
		<h2 id='hifconf'>Ifconfig</h2>
		<ul id='interface_list'>
			{% for interface in interfaces %}	
			<li class='ifconf'> {{ interface[0] }}
			<ul>
				{% for entry in interface[1] %}
				<li class='ifconf'>{{ entry }}</li>
				{% endfor %}
			</ul></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	{% if config['disks']['display'] %}
	<div class='window'>
		<h2 id='hdisks'>Disks</h2>
		<ul>
			{% for entry in devices %}
			<li class='disks'>{{ entry[0] }}
			<ul>
				<li class='disks'>Size: {{ entry[1] }}</li>
				<li class='disks'>Used: {{ entry[2] }} ({{ entry[4] }})</li>
				<li class='disks'>Available: {{ entry[3] }}</li>
			</ul></li>
			{% endfor %}
		<ul>
	</div>
	{% endif %}

	{% if config['rest']['display'] %}
	<div class='window'>
		<h2 id='hrest'>REST</h2>
		<ul>
			<li><a href=getTemp target="_blank">getTemp</a> -- returns sensor value (JSON)</li>
			<li><a href=getTheme target="_blank">getTheme</a> -- returns name of current color theme</li>
			<li><a href=setTheme target="_blank">setTheme</a> -- sets color theme (?themeName=...)</li>
			<li><a href=ifconf target="_blank">ifconf</a> -- returns ifconfig output</li>
			<li><a href=uptime target="_blank">uptime</a> -- returns uptime output</li>
			<li><a href='df' target="_blank">df</a> -- returns df -h output </li>
		</ul>
	</div>

	{% endif %}
	<a href=settings id='settings_link' class='nav_link'>Settings</a>
</body>
